---
---

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

body.transitions-enabled {
    transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

.light-mode {
    background-color: #ffffff;
    color: #333333;

    a, a:visited {
        color: #0000EE;
        &:hover, &:focus {
            color: #0000AA;
        }
    }
}

.dark-mode {
    background-color: #333333;
    color: #ffffff;

    a, a:visited {
        color: #9999FF;
        &:hover, &:focus {
            color: #CCCCFF;
        }
    }
}

header, main, footer {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls button {
    margin-left: 0.5rem;
    font-size: 1em;
    padding: 5px 10px;
    cursor: pointer;
}

.story-list {
    list-style-type: disc;
    padding-left: 20px;
}

.story-list li {
    margin-bottom: 0.5rem;
}

.story-date {
    font-size: 0.9em;
    opacity: 0.8;
    margin-right: 0.5rem;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.story-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.story-navigation a {
    margin: 0.5rem 0;
    max-width: 45%;
}

@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
}

.story {
    img, audio {
        max-width: 100%;
        display: block;
        margin: 1rem auto;
    }
    
    audio {
        width: 100%;
    }
}

.collapsible {
    padding: 10px;
    margin-top: 1rem;
}

.collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    margin-top: 0.5rem;
}

.collapsible-content img {
    max-width: 100%;
    display: block;
    margin: 1rem auto;
}
